#intro {
    background-image: url('../assets/backgrounds/Background_Intro.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    #info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block: 120px 94px;

        header {
            width: 680px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 80px;

            #avatar {
                width: 112px;
                height: 112px;
                object-fit: cover;
                aspect-ratio: 1/1;
                margin-bottom: 56px;
            }

            #text {
                text-align: center;

                #title {
                    margin-bottom: 20px;
                    h2 {
                        font: var(--subtitle);
                        color: var(--gray-200);
                        margin-bottom: 8px;

                        span {
                            color: var(--red);
                        }
                    }

                    h1 {
                        font: var(--title-lg);
                        color: var(--gray-100);
                    }
                }
            }
        }

        #tags {
            display: flex;

            .tag {
                height: 40px;
                background-color: var(--gray-400);
                border-radius: 999px;
                padding: 8px 16px;
                display: flex;
                gap: 8px;

                img {
                    width: 24px;
                    height: 24px;
                    object-fit: cover;
                    aspect-ratio: 1/1;
                }

                span {
                    font: var(--text-md);
                    color: var(--gray-200);
                }
            }
        }
    }

    #down {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 57px;

        img {
            width: 23px;
            height: 23px;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
}

#projects {
    background-color: var(--gray-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 120px 144px 120px;

    header {
        text-align: center;
        margin-bottom: 56px;

        h3 {
            font: var(--subtitle);
            color: var(--red);
            font-weight: 600;
            margin-bottom: 8px;
        }

        h2 {
            font: var(--title-md);
            color: var(--gray-100);
        }
    }

    #grid {
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);

        .project-card {
            background-color: var(--gray-400);
            width: 330px;
            border-radius: 12px;

            img {
                border-radius: 8px;
                width: 306px;
                height: 156px;
                object-fit: cover;
                margin-bottom: 20px;
            }

            strong {
                font: var(--title-sm);
                color: var(--gray-100);
            }

            p {
                color: var(--gray-200);
                margin-top: 8px;
            }
        }
    }
}

#services {
    background-color: var(--gray-600);
    padding-block: 88px 120px;
    padding-inline: 239px;

    header {
        text-align: center;
        margin-bottom: 56px;

        h3 {
            font: var(--subtitle);
            color: var(--red);
            margin-bottom: 8px;
        }

        h2 {
            font: var(--title-md);
        }
    }

    #services-grid {
        justify-items: center;

        .card {
            border: 2px solid var(--gray-500);
            border-radius: 12px;
            width: 280px;
            height: 155px;
            padding: 20px;

            img {
                object-fit: cover;
                aspect-ratio: 1/1;
                margin-bottom: 20px;
            }

            h4 {
                font: var(--title-sm);
            }

            p {
                font: var(--text-sm);
                color: var(--gray-200);
            }
        }
    }
}