.grid {
    display: grid;
}

.text-md {
    font: var(--text-md);
}

.text-sm {
    font: var(--text-sm);
    color: var(--gray-300);
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.grid-flow-col {
    grid-auto-flow: column;
}